# ================================
# MCreator / IDE
# ================================

.eclipse/
.mcreator/
.idea/
.vscode/

# ================================
# Gradle
# ================================

.gradle/
gradle/

# ================================
# Compilation / fichiers générés
# ================================

build/
run/

# ================================
# Fichiers temporaires
# ================================

*.log
*.tmp
*.bak
*.cache

# ================================
# Système
# ================================

.DS_Store
Thumbs.db

# ================================
# Java
# ================================

*.class

# ================================
# Fichiers de sortie
# ================================

*.jar
!gradle/wrapper/gradle-wrapper.jar